extends layout

block content
	// External script
	script(src='https://code.jquery.com/jquery-3.1.1.min.js')

	// Create League Form
	H1 Create League
	H2 Step 1: Add teams to the league
	form(action='#')
		div.form-group
			label(for='user') User:
			input#userName.form-control(type='text', name='user')
		div.form-group
			label(for='team') Team:
			input#team.form-control(type='text', name='team')
	button.btn.btn-primary(onclick='addTeamToList()') Add

	H2 Teams
	button.btn.btn-primary(onclick='clearTable()') Clear

	div(class='table-container' style='overflow-x:auto;')
		table#leagueTeamsTable(style='width:100%', border='1')
					
	H2 Step 2: Create matchday
	form(action='#')
		div.form-group
			label(for='name') Name:
			input#matchdayName.form-control(type='text', name='name')
		div.form-group
			label(for='matchdayCount') Matchday Count:
			input#matchdayCount.form-control(type='text', name='matchDayCount')
		
	button.btn.btn-primary(onclick='createMatchDay()') Create Matchday





	// Scripts
	script.

		var storageKey = 'scoreTablePlayers';

		var addTeamToList = function() {
			var userName = document.getElementById('userName').value;
			var team = document.getElementById('team').value;
			var newPlayer = { 'ID': userName, 'Team': team };

			if(userName != '' && team != '') {
				// Local Storage only support strings. So we need to use JSON.stringify() and JSON.parse()
				// First, get the players, if there are not players yet, we will get null rather than an exception
				var playersInStorage = localStorage.getItem(storageKey);
				var playersInStorage = JSON.parse(playersInStorage);

				// Add the new player to the list
				var players = [];
				if(playersInStorage != null){
					players.extend(playersInStorage);
				}
				players.push(newPlayer);

				// Save the updated list
				localStorage.setItem(storageKey, JSON.stringify(players));

				populateTeamsTable();

			}

			document.getElementById('userName').value = '';
			document.getElementById('team').value = '';
			console.log('New player was added: ' + JSON.stringify(players));

		}

		Array.prototype.extend = function (other_array) {
			other_array.forEach(function(v) {this.push(v)}, this);
		}

		var populateTeamsTable = function() {
			var table = document.getElementById('leagueTeamsTable');
			while (table.firstChild) {
				table.removeChild(table.firstChild);
			}

			var storageKey = 'scoreTablePlayers';

			var playersInStorage = localStorage.getItem(storageKey);
			var playersInStorage = JSON.parse(playersInStorage);

			// Populate the table
			var table = document.getElementById('leagueTeamsTable');

			// Table title
			var th1 = document.createElement('th');
			var th2 = document.createElement('th');
			th1.innerHTML = 'User';
			th2.innerHTML = 'Team';
			table.appendChild(th1);
			table.appendChild(th2);

			for (var i = 0; i < playersInStorage.length; i++){
				var tr = document.createElement('tr');   

				var td1 = document.createElement('td');
				var td2 = document.createElement('td');

				var text1 = document.createTextNode(playersInStorage[i].ID);
				var text2 = document.createTextNode(playersInStorage[i].Team);

				td1.appendChild(text1);
				td2.appendChild(text2);
				tr.appendChild(td1);
				tr.appendChild(td2);

				table.appendChild(tr);
			}
		}

		var clearTable = function() {
			localStorage.setItem(storageKey, null);
			var table = document.getElementById('leagueTeamsTable');
			while (table.firstChild) {
				table.removeChild(table.firstChild);
			}
		}

		function createMatchDayFORMATRARE(){
			var title = document.getElementById('matchdayName').value;
			var matchdayCount = document.getElementById('matchdayCount').value;

			if(title != '' && matchdayCount != ''){
				// string format
				var teams = localStorage.getItem(storageKey);

				// to JSON
				teams = JSON.parse(teams);


				var postArguments = { "ID":"testleague20", "Title":"Test League 1", "MatchDayAmount":5, "Teams": [ {"ID":"jarias", "Team": "Liverpool"}, {"ID":"snunez", "Team": "Man. City"}, {"ID":"snunez2", "Team": "Chelsea"}, {"ID":"snunez3", "Team": "Man. Utd"} ] };
				//var postArguments = { 'ID': title, 'Title': title, 'MatchDayAmount': parseInt(matchdayCount), 'Teams': teams };

				console.log('Create league post arguments: ' + JSON.stringify(postArguments));
			
				return $.ajax({
					type: "POST",
					url: "https://scoretables.herokuapp.com/api/leagues",
					data: postArguments,
					dataType: "json",
					success: function( respuesta ){
						alert('success');
					},
					error: function(error) {
						alert('Check this error: ' + error);
					}
				});
			}
		}

		var createMatchDay = function(){
			var title = document.getElementById('matchdayName').value;
			var matchdayCount = document.getElementById('matchdayCount').value;

			if(title != '' && matchdayCount != ''){
				// string format
				var teams = localStorage.getItem(storageKey);

				// to JSON
				teams = JSON.parse(teams);

				// to int
				matchdayCount = parseInt(matchdayCount);

				var postArguments = { 'ID': title, 'Title': title, 'MatchDayAmount': matchdayCount,	'Teams': teams };
				console.log('Create league post arguments: ' + JSON.stringify(postArguments));

				post('https://scoretables.herokuapp.com/api/leagues', postArguments);
			}
		}

		function post(url, params){
			var http = new XMLHttpRequest();
			http.open("POST", url, true);

			//Send the proper header information along with the request
			http.setRequestHeader("Content-type", "application/json");

			http.onreadystatechange = function() {//Call a function when the state changes.
			    if(http.readyState == 4 && http.status == 200) {
			        alert(http.responseText);
			    }
			}
			http.send(params);
		}


		populateTeamsTable();


